@inject QuestionsClient QuestionsClient
@inject NavigationManager NavigationManager
<Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Cancel</Button>
<Button Color="ButtonColor.Primary" @onclick="Delete">Delete</Button>
    
                                 
                     



@code {
    
    private string title = string.Empty;
    [Parameter] public QuestionSummary? question {get; set;}
    [Parameter] public Modal? modal {get; set;}
    private void Delete()
    {
      ArgumentNullException.ThrowIfNull(question);
      QuestionsClient.DeleteQuestion(question.Id);
      modal!.HideAsync();
      NavigationManager.Refresh(true);
    }
    private async Task OnShowModalClick()
    {
        await modal!.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal!.HideAsync();
    }
}